:root {
    height: 100%;
}

#accountCreationDiv {
    height: 800px;
    padding: 0px;
}

#googleAuthDiv2 {
    border-radius: 10px;
    border: 2px solid #333333;
    background-color: #333333;
    position: relative;
    left: 35%;
    width: 30%;
    height: 420px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#accountCreationHeader {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#nameTitle {
    color: white;
}

#name {
    background-color: white;
    width: 270px;
    height: 35px;
    border: 2px solid black;
    border-radius: 12.5px;
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#emailTitle {
    color: white;
}

#email {
    background-color: white;
    width: 270px;
    height: 35px;
    border: 2px solid black;
    border-radius: 12.5px;
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#passTitle {
    color: white;
}

#pass {
    background-color: white;
    width: 270px;
    height: 35px;
    border: 2px solid black;
    border-radius: 12.5px;
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#buttonIn {
    position: relative;
    top: 25px;
    width: 270px;
    height: 45px;
    border-radius: 20px;
    background-color: #4AD388;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: black;
}

#buttonIn:hover {
    background-color: #2ebf6f;
}

#buttonIn:active {
    background-color: #008FFF;
    color: white;
}
