:root {
    height: 100%;
}

#signInDiv {
    height: 105%;
    padding: 0px;
}

#googleAuthDiv1 {
    border-radius: 10px;
    border: 2px solid #333333;
    background-color: #333333;
    position: relative;
    left: 35%;
    width: 30%;
    height: 300px;
    font-family: 'Inter';
    text-align: center;
}

#signInTitle {
    font-family: 'Inter';
    text-align: center;
}

#emailTitle {
    color: white;
}

#email {
    background-color: white;
    width: 270px;
    height: 35px;
    border: 2px solid black;
    border-radius: 12.5px;
    font-size: 19px;
    font-family: 'Inter';
    text-align: center;
}

#passTitle {
    color: white;
}

#pass {
    background-color: white;
    width: 270px;
    height: 35px;
    border: 2px solid black;
    border-radius: 12.5px;
    font-size: 19px;
    font-family: 'Inter';
    text-align: center;
}

#buttonIn {
    position: relative;
    top: 25px;
    width: 270px;
    height: 45px;
    border-radius: 20px;
    background-color: #4AD388;
    font-family: 'Inter';
    font-size: 19px;
    font-weight: 500;
    color: black;
    border: none;
}

#buttonIn:hover {
    background-color: #2ebf6f;
}

#buttonIn:active {
    background-color: #008FFF;
    color: white;
}