#mainView {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 150px;
}
#inputDiv {
    width: 180px;
    height: 100px;
    align-items: center;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    justify-content: center;
    text-align: center;
}
#submit {
    width: 140px;
    height: 40px;
    font-size: 22px;
    top: 40px;
    border-radius: 8px;
    border-width: 4px;
    border-color: black;
    text-align: center;
}
