.mainDocs {
    background-color: #F5F5F5;
    height: 200%;
    width: 80%;
    position: absolute;
    top: 0px;
    left: 20%;
    margin-left: 2px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.fgDiv {
    position: relative;
    width: 90%;
    left: 5%;
    text-align: left;
    align-items: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.introTitle {
    height: 25px;
    width: 100%;
}

.introMain {
    align-self: left;
    position: relative;
    top: 0px;
}

.basicsTitle {
    height: 25px;
    width: 100%;
}

.basicsa {
    position: relative;
    top: 0px;
}

.basicsb {
    position: relative;
    top: 0px;
}

.basicsc {
    position: relative;
    top: 0px;
}

.feDiv {
    position: relative;
    width: 90%;
    left: 5%;
    text-align: left;
    align-items: left;
    border-bottom: 2px solid black;
}