.app {
  background-color: white;
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0px;
  left: 20%;
  margin-left: 2px;
  font-family: 'Inter';
  text-align: center;
}

.titleArea {
  text-align: center;
  justify-content: baseline;
  width: 40%;
  height: 6%;
  position: relative;
  left: 30%;
  top: 50px;
  border-bottom: 2px solid black;
}

.title {
  text-align: center;
}

.intro {
  width: 70%;
  height: 10%;
  position: relative;
  left: 15%;
  top: 50px;
}
