.mainPricing {
    background-color: white;
    height: 100%;
    width: 80%;
    position: fixed;
    top: 0px;
    left: 20%;
    margin-left: 2px;
    font-family: 'Inter';
    text-align: center;
    align-items: center;
}

.pricingTop {
    position: absolute;
    width: 30%;
    left: 35%;
    height: 50;
    border-bottom: 2px solid black;
}

.pricingChart {
    width: 100%;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -5%;
}