.App {
  text-align: center;
  align-items: center;
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
  top: -10px;
  font-family: 'Roboto Mono';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.titleSection {
  height: 100px;
  width: 100%;
  position: relative;
  top: 50px;
  justify-content: center;
}

.mainTitle {
  font-family: 'Roboto Mono';
}

.buttonSection {
  align-items: left;
  position: relative;
  top: 15px;
}

.formatTitle {
  font-family: 'Roboto Mono';
}

.excelButton {
  width: 125px;
  height: 50px;
  border-radius: 6px;
  border-width: 3px;
  border-color: black;
  background-color: white;
  font-family: 'Roboto Mono';
  font-size: 19px;
  margin-right: 5px;
}

.sheetsButton {
  width: 125px;
  height: 50px;
  border-radius: 6px;
  border-width: 3px;
  border-color: black;
  background-color: white;
  font-family: 'Roboto Mono';
  font-size: 19px;
  margin-left: 5px;
}

.inputSection {
  position: relative;
  top: 30px;
}

.inputLabel {}

.mainInput {
  height: 125px;
  width: 400px;
  font-family: 'Roboto Mono';
  font-size: 17px;
  border-width: 2px;
  border-radius: 4px;
  border-color: black;
}

.submitButtonDiv {
  position: relative;
  top: 30px;
}

.submitButton {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  background-color: white;
  font-family: 'Roboto Mono';
  font-size: 18px;
}

.outputSection {
  position: relative;
  top: 45px;
}

.outputLabel {}

.mainOutput {
  height: 125px;
  width: 400px;
  font-family: 'Roboto Mono';
  font-size: 17px;
  border-width: 2px;
  border-radius: 4px;
  border-color: black;
}

